<style>
    .banner-radius{
      border-radius: {{
        section.settings.border-radius
      }}px
    }
    .post-heading{
    color: {{ section.settings.heading_color }}
  }
</style>

<div class="container banner-main">
  {% assign heading_block = section.blocks | where: "type", "heading" | first %}
  <div class="banner banner-radius {% if heading_block.settings.centered_heading %}flex {{ heading_block.settings.heading_alignment }}{% endif %}">
    {% if section.settings.banner != blank %}
      {{ section.settings.banner | image_url: width: 1440, height: 410 | image_tag: class: 'banner-image' }}
    {% endif %}
  <!-- </div> -->
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        {% unless block.settings.centered_heading %}
          <h1 class="post-heading">{{ block.settings.heading }}</h1>
        {% else %}
          <h1 class="post-heading banner-heading">{{ block.settings.heading }}</h1>
        {% endunless %}
      </div>
      {% when 'author' %}
        <div class="author">
          {% if block.settings['author-image'] != blank %}
            {{ block.settings['author-image'] | image_url: width: 40, height: 40 | image_tag: class: 'author-image' }}
          {% endif %}
          {{ block.settings['author-name'] }}
          {{ 'dot.svg' | inline_asset_content }}
          {{ block.settings['published-at'] }}
        </div>
    {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Post Banner",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner"
    },
    {
      "type": "range",
      "id": "border-radius",
      "label": "Border Radius",
      "max": 50,
      "min": 5,
      "default": 30,
      "unit": "px",
      "step": 5
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
          {
              "type": "text",
              "id": "heading",
              "label": "Heading",
          },
          {
            "type": "checkbox",
            "id": "centered_heading",
            "label": "Show Heading in Banner",
            "default": false
          },
        {
          "type":"select",
          "id": "heading_alignment",
          "label":"Heading Alignment",
          "options":[
            {
              "value": "top-left",
              "label": "Top Left"
            },
            {
              "value": "center-left",
              "label": "Center Left"
            },
            {
              "value": "bottom-left",
              "label": "Bottom Left"
            },
            {
              "value": "top-center",
              "label": "Top Center"
            },
            {
              "value": "center-center",
              "label": "Center Center"
            },
            {
              "value": "bottom-center",
              "label": "Bottom Center"
            },
            {
              "value": "top-right",
              "label": "Top Right"
            },
            {
              "value": "center-right",
              "label": "Center Right"
            },
            {
              "value": "bottom-right",
              "label": "Bottom Right"
            }
          ],
          "default":"center-center"
        }
      ]
  },
  {
      "type": "author",
      "name": "Author",
      "limit": 1,
      "settings": [
          {
              "type": "image_picker",
              "id": "author-image",
              "label": "Author DP"
          },
          {
              "type": "text",
              "id": "author-name",
              "label": "Author Name"
          },
          {
              "type": "text",
              "id": "published-at",
              "label": "Published At",
          }
      ]
  },
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
