<div class="container post-content">
{% for block in section.blocks %}
    {% case block.type %}
      {% when "heading" %}
        <h1 class="post-heading">{{ block.settings.heading }}</h1>
      {% when "author" %}
        <div class="author">
            {% if block.settings.author-image != blank %}
                {{ block.settings.author-image | image_url: width: 40, height: 40 | image_tag: class: "author-image"  }}
            {% endif %}
            <p>{{ block.settings.author-name }}</p>
            {{ 'dot.svg' | inline_asset_content }}
            <p>{{ block.settings.published-at }}</p>
        </div>
      {% when "paragraph" %}
        <div class="align-{{ block.settings.text-alignment }} paragraph">
            {{ block.settings.paragraph }}
        </div>
    {% when "sub_heading" %}
        <h3 class="sub-heading">
            {{ block.settings.sub-heading }}
        </h3>
    {% when "featured_products" %}
      <div class="featured-products">
        {% for product in block.settings.featured-products %}
            <div class="product">
                <img class="product-image" src="{{ product | image_url: width: 300 }}" alt="{{ product.title }}" />
                <p class="product-title align-{{ block.settings.prod-title-alignment }}">{{ product.title }}</p>
                <div class="price-main">
                    <div>
                       <span class="prev-price">{{ product.compare_at_price | money_without_trailing_zeros }} </span>
                       <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                    </div>
                    <button class="add-to-cart">{{ 'add-to-cart.svg' | inline_asset_content }}</button>
                </div>
            </div>   
        {% endfor %}
      </div>
      {% else %}
        
    {% endcase %}
{% endfor %}
</div>
{% schema %}
{
    "name": "Post Content",
    "limit": 1,
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                }
            ]
        },
        {
            "type": "author",
            "name": "Author",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "author-image",
                    "label": "Author DP"
                },
                {
                    "type": "text",
                    "id": "author-name",
                    "label": "Author Name"
                },
                {
                    "type": "text",
                    "id": "published-at",
                    "label": "Published At",
                }
            ]
        },
        {
            "type": "paragraph",
            "name":"Paragraph",
            "settings": [
                {
                    "type": "richtext",
                    "id": "paragraph",
                    "label": "Paragraph Text"
                },
                {
                    "type": "text_alignment",
                    "id": "text-alignment",
                    "label": "Text Alignment",
                    "default": "left"
                }
            ]
        },
       {
        "type": "sub_heading",
        "name": "Subheading",
        "settings": [
            {
                "type": "text",
                "id": "sub-heading",
                "label": "Subheading"
            }
        ]
    },
    {
        "type": "featured_products",
        "name": "Featured Products",
        "settings": [
            {
                "type": "product_list",
                "id": "featured-products",
                "label": "Featured Products",
                "limit": 4
            },
            {
                "type": "text_alignment",
                "id": "prod-title-alignment",
                "label": "Product Title Alignment",
                "default": "center"
            }
        ]
    }
    ],
    "presets": [
        {
            "name": "Post Content"
        }
    ]
}
{% endschema %}