{{ 'blog-content.js' | asset_url | script_tag }}

<div class="container post-content">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'paragraph' %}
        <div class="align-{{ block.settings.text-alignment }} paragraph">
          {{ block.settings.paragraph }}
        </div>
      {% when 'sub_heading' %}
        <h3 class="sub-heading">
          {{ block.settings['sub-heading'] }}
        </h3>
      {% when 'featured_products' %}
        <div class="featured-products">
          {% for product in block.settings['featured-products'] %}
            <div class="product">
              <a class="link images" href="{{ product.url }}">
                {{ product | image_url: width: 500 | image_tag: class: 'product-image' }}
                {% if product.images.size > 1 %}
                  {% assign lastProductImage = product.images | last %}
                  {{ lastProductImage | image_url: width: 500 | image_tag: class: 'product-image product-image-2' }}
                {% endif %}
              </a>
              <div class="align-{{ block.settings.prod-title-alignment }}">
                {{ product.title | link_to: product.url, class: 'link product-title' }}
              </div>
              <div class="price-main">
                <div>
                  <span class="prev-price">{{ product.compare_at_price | money_without_trailing_zeros }} </span>
                  <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                </div>
                {% form 'product', product %}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    {% if product.selected_or_first_available_variant.available == false
                      or product.selected_or_first_available_variant == null
                    %}
                      disabled
                    {% endif %}
                    class="product-variant-id"
                  >
                  <button class="add-to-cart" id="addToCart">
                    {{ 'add-to-cart.svg' | inline_asset_content }}
                    {%- render 'loading-spinner' -%}
                  </button>
                {% endform %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
    "name": "Post Content",
    "limit": 1,
    "blocks": [
        {
            "type": "paragraph",
            "name":"Paragraph",
            "settings": [
                {
                    "type": "richtext",
                    "id": "paragraph",
                    "label": "Paragraph Text"
                },
                {
                    "type": "text_alignment",
                    "id": "text-alignment",
                    "label": "Text Alignment",
                    "default": "left"
                }
            ]
        },
       {
        "type": "sub_heading",
        "name": "Subheading",
        "settings": [
            {
                "type": "text",
                "id": "sub-heading",
                "label": "Subheading"
            }
        ]
    },
    {
        "type": "featured_products",
        "name": "Featured Products",
        "settings": [
            {
                "type": "product_list",
                "id": "featured-products",
                "label": "Featured Products",
                "limit": 4
            },
            {
                "type": "text_alignment",
                "id": "prod-title-alignment",
                "label": "Product Title Alignment",
                "default": "center"
            }
        ]
    }
    ],
    "presets": [
        {
            "name": "Post Content"
        }
    ]
}
{% endschema %}
