<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<div class="container post-content">
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'paragraph' %}
        <div class="align-{{ block.settings.text-alignment }} paragraph">
          {{ block.settings.paragraph }}
        </div>
      {% when 'sub_heading' %}
        <h3 class="sub-heading">
          {{ block.settings['sub-heading'] }}
        </h3>
      {% when 'featured_products' %}
        <div class="featured-products">
          {% for product in block.settings['featured-products'] %}
            <div class="blog-product">
              <a class="link images" href="{{ product.url }}">
                {{ product | image_url: width: 500 | image_tag: class: 'product-image' }}
                {% if product.images.size > 1 %}
                  {% assign lastProductImage = product.images | last %}
                  {{ lastProductImage | image_url: width: 500 | image_tag: class: 'product-image product-image-2' }}
                {% endif %}
              </a>
              <div class="align-{{ block.settings.prod-title-alignment }}">
                {{ product.title | link_to: product.url, class: 'link product-title' }}
              </div>
              <div class="price-main">
                <div>
                  <span class="prev-price">{{ product.compare_at_price | money_without_trailing_zeros }} </span>
                  <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                </div>
                <product-form class="product-form">
                  {% form 'product',
                    product,
                    novalidate: 'novalidate',
                    class: 'form',
                    id: product_form_id,
                    data-type: 'add-to-cart-form'
                  %}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      {% if product.selected_or_first_available_variant.available == false
                        or product.selected_or_first_available_variant == null
                      %}
                        disabled
                      {% endif %}
                      class="product-variant-id"
                    >

                    {% if product.variants.size == 1 %}
                      <button
                        id="ProductSubmitButton-{{ section.id }}"
                        type="submit"
                        name="add"
                        class="product-form__submit add-to-cart"
                        {% if product.selected_or_first_available_variant.available == false
                          or product.selected_or_first_available_variant == null
                        %}
                          disabled
                        {% endif %}
                      >
                        <span id="add-to-cart-btn">
                          {{ 'add-to-cart.svg' | inline_asset_content }}
                        </span>
                        {%- render 'loading-spinner' -%}
                      </button>
                    {% else %}
                      <button
                        class="open-product-modal"
                        type="button"
                        onclick="showProductModal()"
                        {% if product.selected_or_first_available_variant.available == false
                          or product.selected_or_first_available_variant == null
                        %}
                          disabled
                        {% endif %}
                      >
                        <span id="add-to-cart-btn">
                          {{ 'add-to-cart.svg' | inline_asset_content }}
                        </span>
                      </button>
                    {% endif %}
                  {% endform %}
                </product-form>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}

    {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
    "name": "Post Content",
    "limit": 1,
    "blocks": [
        {
            "type": "paragraph",
            "name":"Paragraph",
            "settings": [
                {
                    "type": "richtext",
                    "id": "paragraph",
                    "label": "Paragraph Text"
                },
                {
                    "type": "text_alignment",
                    "id": "text-alignment",
                    "label": "Text Alignment",
                    "default": "left"
                }
            ]
        },
       {
        "type": "sub_heading",
        "name": "Subheading",
        "settings": [
            {
                "type": "text",
                "id": "sub-heading",
                "label": "Subheading"
            }
        ]
    },
    {
        "type": "featured_products",
        "name": "Featured Products",
        "settings": [
            {
                "type": "product_list",
                "id": "featured-products",
                "label": "Featured Products",
                "limit": 4
            },
            {
                "type": "text_alignment",
                "id": "prod-title-alignment",
                "label": "Product Title Alignment",
                "default": "center"
            }
        ]
    }
    ],
    "presets": [
        {
            "name": "Post Content"
        }
    ]
}
{% endschema %}
