<style>
  .footer{
    background-color: {{section.settings.background-color}};
    padding-top: 100px;
  }
</style>
<div class="footer">
  <div class="newsletter">
    {% if section.settings.footer_logo != blank %}
      {{ section.settings.footer_logo | image_url: width: 96, height: 55 | image_tag }}
    {% endif %}
    <p class="newsletter-text">{{ section.settings.newsletter_text }}</p>
    {% form 'customer' %}
      <div class="newsletter-form">
        <input class="newsletter-input" type="email" name="contact[email]" placeholder="person@email.com">
        <button class="email-submit">{{ 'chevron-down.svg' | inline_asset_content }}</button>
      </div>
    {% endform %}
  </div>
  <div class="footer-main">
    {% if section.settings.footer != blank %}
      {% for link in section.settings.footer.links %}
        {% if link.links != blank %}
          <div class="footer-menu">
            <p class="footer-menu-title">{{ link.title }}</p>
            <ul class="footer-list">
              {% for childlink in link.links %}
                <li>
                  <a class="link footer-menu-text" href="{{ childlink.url }}">{{ childlink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="copyright">
    {{ section.settings.copyright_text }}
  </div>
</div>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "Subscribe To Your Newsletter to Stay Updated About Discounts"
    },
     {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default":"#3d3d3d"
    },
      {
      "type": "link_list",
      "id": "footer",
      "label": "Footer Menu",
      "default": "footer"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copy Right Text",
      "default": "Copyright © 2023 Renew Bariatrics, Inc"
    }
],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
