{{ 'header.js' | asset_url | script_tag }}

<!-- Desktop Header -->
<div class="header-container container">
  <!-- Logo -->
  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset logo">
    {% if settings.logo != blank %}
      {{ settings.logo | image_url: width: 50 | image_tag }}
    {% endif %}
  </a>
  <div class="hamburger">
    {{ 'hamburger-menu.svg' | inline_asset_content }}
  </div>

  <!-- Menu -->
  <div class="menu">
    {% if section.settings.menu != blank %}
      {% for link in section.settings.menu.links %}
        <!-- If link has nested links -->
        {% if link.links != blank %}
          <div class="menu-item">
            <!-- Link Title -->
            <div class="menu-title menu-text">
              {{ link.title }}
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </div>
            <!-- Child Links -->
            <div class="submenu">
              <ul class="submenu-list">
                {% for childlink in link.links %}
                  <li>
                    {% if childlink.links == blank %}
                      <a class="link menu-text" href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    {% else %}
                      <!-- If childlink has nested links -->
                      <div class="submenu-item">
                        <!-- ChildLink Title -->
                        <div class="submenu-title menu-text">
                          {{ childlink.title }}
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </div>
                        <!-- Nested Links -->
                        <div class="nested-submenu">
                          <ul class="submenu-list">
                            {% for subchildlink in childlink.links %}
                              <li>
                                <a class="link menu-text" href="{{ subchildlink.url }}">{{ subchildlink.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% else %}
          <a class="link menu-text" href="{{ link.url }}">
            {{ link.title }}
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- Sidebar (Mobile Menu) -->
  <div class="sidebar">
    <div class="sidebar-header">
      <a href="{{ routes.root_url }}" class="sidebar-logo">
        {% if settings.logo != blank %}
          {{ settings.logo | image_url: width: 50 | image_tag }}
        {% endif %}
      </a>
      <div class="sidebar-close">&times;</div>
    </div>

    <div class="mobile-menu">
      {% if section.settings.menu != blank %}
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            <div class="menu-item">
              <div class="menu-title menu-text">
                {{ link.title }}
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
              <div class="submenu">
                <ul class="submenu-list">
                  {% for childlink in link.links %}
                    <li>
                      {% if childlink.links == blank %}
                        <a class="link menu-text" href="{{ childlink.url }}">
                          {{ childlink.title }}
                        </a>
                      {% else %}
                        <div class="submenu-item">
                          <div class="submenu-title menu-text">
                            {{ childlink.title }}
                            <span class="svg-wrapper">
                              {{- 'icon-caret.svg' | inline_asset_content -}}
                            </span>
                          </div>
                          <div class="nested-submenu">
                            <ul class="submenu-list">
                              {% for subchildlink in childlink.links %}
                                <li>
                                  <a class="link menu-text" href="{{ subchildlink.url }}">{{ subchildlink.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% else %}
            <a class="link menu-text" href="{{ link.url }}">
              {{ link.title }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- Cart -->
  <div class="header-icons">
    <div class="user-menu">
      {{ 'user.svg' | inline_asset_content }}

      <div class="svg-wrapper">
        {{- 'icon-caret.svg' | inline_asset_content -}}
      </div>
    </div>
    <div class="cart-open">
      {{ 'icon-cart2.svg' | inline_asset_content }}
    </div>
  </div>

  <div class="cart-drawer">
    <div class="sidebar-header">
      {{ 'Your Cart' }}
      <div class="cart-close">&times;</div>
    </div>
    <div class="cart-items">
      {% if cart != empty %}
        {% for item in cart.items %}
          <div class="cart-item">
            {{ item.image | image_url: width: 100 | image_tag: class: 'cart-item-image' }}
            <div class="cart-item-details">
              <h4>{{ item.product_title }}</h4>
              <p>
                <strong>{{ item.final_line_price | money }}</strong>
              </p>
              {% if item.options_with_values != empty %}
                {% for option in item.options_with_values %}
                  <p>{{ option.name }} : {{ option.value }}</p>
                {% endfor %}
              {% endif %}
              <div class="quantity">
                <button class="decrease-qty" data-key="{{ item.key }}">-</button>
                <span>{{ item.quantity }}</span>
                <button class="increase-qty" data-key="{{ item.key }}">+</button>
              </div>
            </div>
            <button class="remove-item" data-key="{{ item.key }}">×</button>
          </div>
        {% endfor %}
      {% else %}
        {{ 'CART EMPTY' }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main Menu",
      "default": "main-menu"
    },
  ]
}
{% endschema %}
